<a href="https://colab.research.google.com/github/krishnasidhvi/krishna_data690/blob/main/assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

### 1)Write a program that generates 100 random integers between 0 and 9.

- Print them in a 10 by 10 matrix (one space between each number):

In [1]:
import random
for i in range(10):
  for j in range(10):
   print(random.randint(0, 9), end=" ")
  print()

6 3 0 9 5 9 5 6 1 7
8 1 4 7 1 8 5 3 4 9
7 4 5 2 1 6 6 9 7 8
0 5 5 9 4 6 1 9 5 1
4 5 9 9 7 8 7 5 1 6
6 6 8 7 2 3 9 8 7 1
1 9 6 7 0 5 5 5 5 7
8 6 1 5 5 4 9 9 8 4
2 6 7 4 7 7 7 0 8 1
2 8 0 1 0 2 0 7 7 4

### 2)If the random number is an odd number, print "@" instead

In [2]:
for i in range(10):
  for j in range(10):
    x=random.randint(0, 9)
    if (x+1)%2==0:
      x="@"
      print(x, end=" ")
    else:
      print(x,end=" ")
  print()

4 @ 0 @ @ @ 2 @ @ 4
@ @ 4 @ @ 6 @ @ @ 4
@ 6 @ 8 @ @ @ 8 0 @
@ 6 8 8 0 @ 8 @ @ @
@ 2 4 @ @ @ 0 4 6 0
@ @ 8 0 0 0 @ @ @ @
6 2 6 8 4 2 @ @ @ @
0 0 @ @ 2 6 2 0 2 2
@ 6 6 @ 4 0 @ 4 2 @
2 4 @ 8 0 0 @ @ 4 0

### 3) Calculate and Print the total of each row(use "*" to separate the total from the numbers):

In [3]:
for i in range(10):
  s=[]
  for j in range(12):
    if j<10:
      x=random.randint(0, 9)
      s.append(x)
      print(x, end=" ")
    elif j==10:
      print("*", end=" ")
    else:
      a=0
      a=sum(s)
      print(a)

6 8 9 9 4 1 7 6 4 4 * 58
3 8 5 9 7 4 6 6 9 8 * 65
5 0 4 1 5 5 3 5 7 2 * 37
7 6 6 7 5 6 1 3 6 5 * 52
8 8 0 6 3 5 5 0 9 6 * 50
1 5 5 3 5 0 0 8 2 3 * 32
4 0 5 2 3 1 2 6 6 9 * 38
3 5 2 1 1 8 4 6 4 6 * 40
7 4 2 2 4 4 7 0 7 8 * 45
3 0 2 1 2 0 6 3 6 3 * 26

### 4)  Surrounding the matrix with asterisks (*)

In [9]:
print("***********************")
for k in range(10):
    print("*", end=" ")
    for l in range(10):
        m = random.randint(0,9)
        print(m, end = " ")
    print("*")
print("***********************")

***********************
* 5 2 3 7 4 9 3 1 6 1 *
* 3 8 2 9 7 0 6 9 1 5 *
* 9 1 7 5 9 7 9 8 7 9 *
* 7 5 5 6 9 1 4 4 0 0 *
* 8 2 1 0 0 6 6 2 6 0 *
* 7 7 9 8 8 0 1 1 9 2 *
* 3 0 2 6 0 6 1 4 7 8 *
* 1 9 3 0 5 0 9 3 4 7 *
* 5 1 0 0 5 1 0 6 9 2 *
* 2 4 9 5 4 9 2 4 1 7 *
***********************

### 5) Calculate and Print the total of each row and column.

In [20]:
array = [0,0,0,0,0,0,0,0,0,0]
for i in range(0, 12):
    a=0
    for j in range(0, 10):
        if(i==10):
            print("*",end="  ")
        elif(i==11):
            print(array[j], end=" ")
        else:    
            b =random.randint(0, 9)
            array[j]+=b
            a+=b
            print(b,end="  ")
    if(i<10):        
        print("*",a)    
    else:
        print()

3  4  9  3  8  1  8  8  6  1  * 51
3  2  2  8  1  5  8  9  0  4  * 42
3  6  2  5  9  4  8  3  4  6  * 50
6  6  4  6  7  7  0  3  9  1  * 49
5  8  9  8  0  5  2  6  4  6  * 53
7  4  1  4  9  8  0  3  2  0  * 38
9  4  9  9  7  6  9  4  8  5  * 70
2  8  3  0  6  5  7  4  0  4  * 39
8  9  2  9  4  8  5  1  7  4  * 57
0  5  2  1  5  7  7  8  5  0  * 40
*  *  *  *  *  *  *  *  *  *
46 56 43 53 56 56 54 49 45 31