<a href="https://colab.research.google.com/github/krishnasidhvi/krishna_data690/blob/main/assignment_03/help_for_hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = [2,5,12, "sid", "Krish"]
print(x)

[2, 5, 12, 'sid', 'Krish']

In [13]:
for a in x:
  print(a, end=" * ")

2 * 5 * 12 * sid * Krish *

In [4]:
5 in x

True

In [10]:
if 5 in x:
  print("5 is a member of list x.")
else:
  print("5 is not a member")

5 is a member of list x.

In [11]:
y=[5, 1, 5, 6, 2, 7, 8, 6, 4, 2]
print(y)

[5, 1, 5, 6, 2, 7, 8, 6, 4, 2]

In [14]:
for b in y:
  print(b, end=" * ")

5 * 1 * 5 * 6 * 2 * 7 * 8 * 6 * 4 * 2 *

In [16]:
import random

In [25]:
random.randint(0, 9)

8

In [31]:
for i in range(10):
 print(random.randint(0, 9), end=" ")

7 0 2 3 2 7 7 1 8 4

In [36]:
for j in range(10):
  for i in range(10):
    print(random.randint(0, 9), end=" ")
#  print("/n", end=" ")
  print("")

4 3 9 4 4 9 4 7 0 3
4 2 1 1 9 0 1 0 0 5
6 6 4 2 6 5 3 4 7 0
8 0 9 7 4 3 7 4 1 2
9 5 1 3 9 4 8 8 8 4
9 8 4 4 0 1 2 0 4 5
7 4 9 3 8 5 8 2 5 8
1 0 9 3 5 4 4 6 9 4
6 2 9 3 6 6 7 0 8 2
4 6 2 2 0 9 1 2 0 1